body {
    height: 100vh;
    background-image: url('../media/images/login-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.allcontent-login {
    display: flex;
    flex-direction: column;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dirty-dark);
    border: 3px solid var(--forge-opaque);
    border-radius: 20px;
    box-shadow: 0 0 5px 1px var(--darkest);
    height: 450px;
    width: 350px;
    margin: 100px auto;
    padding: 10px 5px;
}

#register-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dirty-dark);
    border: 3px solid var(--forge-opaque);
    border-radius: 20px;
    box-shadow: 0 0 5px 1px var(--darkest);
    height: 500px;
    width: 350px;
    margin: 100px auto;
    padding: 10px 5px;
}

.divline {
    align-self: center;
    margin: 0 auto;
    width: 300px;
}

.login-title {
    text-align: center;
    margin-top: 10px;
    font-weight: 800;
    color: antiquewhite;
    text-shadow: 1px 1px 3px var(--forge-bright);
}

.login-subtitle {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: var(--forge-opaque);
    text-shadow: 1px 1px 3px var(--darkest)
}

.field-space {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 20px;
    margin: 5px 0;
}

.field-space > p {
    margin: 0;
}

.field-box {
    box-shadow: 0.3px 1px 2px 1px var(--forge-opaque);
}

.login-input {
    text-align: center;
    margin: 10px 0;
}

.login-input-btn {
    height: 40px;
    width: 110px;
    background-color: var(--forge-bright);
    border: 0;
    border-radius: 5px;
    color: antiquewhite;
    font-weight: 600;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0 1px 5px 1px var(--darkest);
}

.login-input-btn:active {
    background-color: var(--forge-opaque);
}

.register-txt {
    display: flex;
    justify-items: center;
    text-align: center;
    margin: auto;
}

.register-txt > p > a {
    color: antiquewhite
}

.google-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.glogin-txt {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-style: italic;
    color: rgb(189, 172, 165);
    text-shadow: 1px 1px 3px black;
}

.google-ico {
    margin: 0 auto;
}

.google-ico > a > img {
    width: 40px;
    margin-top: 5px;
}

/* Footer */

#footer {
    background-color: #332b2991;
    height: 100px;
    text-align: center;
    box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.452)
}